:root{
 --foreground: #151515;
 --background:  
 --lighter: #C73659;
 --hover: #ed406a;
 --timerBackground: #EEEEEE;

 --textColor: #151515;
 --white: white;
 
}


.dark-mode-toggle{
    cursor: pointer;
    border: 0;
    width: 50px;
}
.darkmode {
--foreground: gray;
--background: black;
}

*{
    font-family: helvetica;
    
}

#nav{
    background-color: var(--foreground);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 2.5rem  0 2.5rem;
}

img{
    width: 50px;
    cursor: pointer;
}

#header-actions{
    
}

img:hover{
    cursor: pointer;
}

body{
    background-color: var(--background);
    margin: 0;
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin:0;
    
    
}

li{
    list-style: none;
    color: var(--textColor);
    padding: 10px;
    background-color: var(--lighter);
    border-bottom: var(--foreground) solid 4px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

#pomodoro{
    background-color: white;   
}
li:hover{
    background-color: #ed406a;
    color: var(--white);
}

#timer-container{
    text-align: center;
    background-color: var(--timerBackground);
    width: 400px;
    border-radius: 25px;
    margin: auto;
    margin-top: 10%;
}

h1{
    color: var(--textColor);
    font-size: 125px;
    padding: 25px;
    margin: 0;
    text-decoration:underline;
}

#timer-button{
    background-color: var(--white);
    border: 0;
    padding: 20px 50px;
    margin-bottom: 5%;
    font-size: 20px;
    cursor: pointer;
    border-bottom: var(--foreground) solid 4px;
    transition: 0.1s;
}

#timer-button:hover{
    background-color: var(--hover);
    color: var(--white);
}


#description{
    text-align: center;
    color: white;
    font-size: 20px;
}

footer{
    background-color: var(--foreground);
    width: 100%;
    bottom: 0px;
    position: fixed;
    color: var(--white);
}

.selected:hover{
    color: var(--textColor) !important;

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}